---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
---

<BaseLayout>
  <Header />
  <main class="app-main">
    <slot />
  </main>
</BaseLayout>

<style>
  .app-main {
    display: flex;
    flex: 1;
    overflow: hidden;
    height: calc(100vh - 52px);
  }
</style>
